a,
li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}
.header {
  background-color: #111926;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}
nav {
  max-width: 1280px;
  margin: 0px auto;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
ul {
  display: flex;
  align-items: center;
  gap: 25px;
  font-weight: 500;
}
.logo {
  gap: 12px;
  display: flex;
  align-items: center;
}
.logo a {
  font-size: 1.5rem;
  font-weight: 600;
}
